.btn {
  padding: 6px 12px;
  border-radius: 4px;
  
  outline: none;
  cursor: pointer;
  
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

}

.btn-1-female { 
  background: var(--accent-clr-female);
  border: 3px solid var(--accent-clr-female);
  color: var(--clr-white);
}

.btn-1-female:hover { 
  background-color: var(--clr-white);
  color: var(--accent-clr-female);
}

.btn-2-female { 
  background: var(--clr-white);
  border: 3px solid var(--accent-clr-female);
  color: var(--accent-clr-female);
}

.btn-2-female:hover { 
  background-color: var(--accent-clr-female);
  color: var(--clr-white);
}

/* male button config */
.btn-1-male { 
  background: var(--accent-clr-male);
  border: 3px solid var(--accent-clr-male);
  color: var(--clr-white);
}

.btn-1-male:hover { 
  background-color: var(--clr-white);
  color: var(--accent-clr-male);
}

.btn-2-male { 
  background: var(--clr-white);
  border: 3px solid var(--accent-clr-male);
  color: var(--accent-clr-male);
}

.btn-2-male:hover { 
  background-color: var(--accent-clr-male);
  color: var(--clr-white);
}